<h1>{{project.projectName}}</h1>

<p>Applicant:</p>
{{project.applicantname}}

<p>Project Number:</p>
{{project.zapProjectId}}

<p>Steps:</p>
<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
</ul>

{{yield}}
