<div class="cell sidebar map-sidebar">
  {{!-- EMBER WORMHOLE CONTAINER --}}
  {{!-- The geometry type component will fill this div with markup once invoked --}}
  <div id="geometry-type-draw-explainer">
  </div>

  {{!-- EMBER WORMHOLE CONTAINER --}}
  <div id="geometry-type-save-box">
  </div>

</div>
<div class="cell large-auto map-container">
  {{#if layerGroups}}
    {{#labs-map
      id='main-map'
      initOptions=(hash
        style=layerGroups.meta.mapboxStyle
        zoom=12
        center=(array -73.983307 40.704977)
        pitchWithRotate=false
      )
      mapLoaded=(action 'handleMapLoad') as |map|}}

      {{!-- Wrap drawable components and pass as context --}}
      {{#mapbox-gl-draw map=map as |drawableMap|}}
        {{#search-handler map=map as |search|}}
          {{labs-bbl-lookup flyTo=(action search.flyTo)}}
        {{/search-handler}}

        {{!-- labs-layers (includes tax-lots layer) --}}
        {{#map.labs-layers
          layerGroups=layerGroups.layerGroups
          as |layers|}}
          {{#layers.tooltip as |tooltip|}}
            {{tooltip-renderer
              feature=tooltip.feature
              template=tooltip.layer.tooltipTemplate}}
          {{/layers.tooltip}}
        {{/map.labs-layers}}

        {{!-- pass type and mode to invoke both --}}
        {{project-geometries/types
          model=model
          type=type
          mode=mode
          map=drawableMap}}
      {{/mapbox-gl-draw}}
    {{/labs-map}}
  {{/if}}

  {{outlet}}

</div>
