<input type="radio" name="paper-size" value="letter" id="paper-size--letter" checked />
<label for="paper-size--letter" onclick={{action 'toggleSize'}}>Letter</label>
<input type="radio" name="paper-size" value="Portrait" id="paper-size--legal" />
<label for="paper-size--legal" onclick={{action 'toggleSize'}}>Legal</label>