<div class="draw-controls">
  <button class="polygon {{if (eq drawMode 'draw_polygon') 'active'}}" {{action 'handleDrawButtonClick'}}>
    {{fa-icon 'draw-polygon' size='2x' fixedWidth=true}}
    {{#ember-tooltip side='right' tooltipClassName="ember-tooltip draw-tooltip"}}
      <h5 class="small-margin-bottom">Polygon</h5>
      <p class="small-margin-bottom">Add a new shape. Complete it by clicking the final vertex a 2nd time.</p>
      <p class="no-margin text-tiny">Edit an existing shape by selecting it and dragging its vertices. Add a vertex by clicking the midpoint of a line.</p>
    {{/ember-tooltip}}
  </button>
</div>

{{yield (hash
  feature-label-form=(component 'project-geometries/modes/draw/feature-label-form'
    selectedFeature=selectedFeature
    updateSelectedFeature=(action 'updateSelectedFeature')
  )
  button=(component 'project-geometries/utils/button'
    data-test-project-geometry-save=true
  )
)}}
