{{#project-geometry-edit/draw-lots-to-union
  mode=mode
  model=model
  map=map
  as |selectedLots finalGeometry|}}
  {{#ember-wormhole to='geometry-type-save-box'}}
    <button
      type="button"
      class="button large green expanded project-save-button"
      disabled={{if (eq mode 'draw') false (or (not selectedLots.features.length))}}
      onclick={{action 'save' model finalGeometry}}
    >
      Save Development Site
    </button>
  {{/ember-wormhole}}
{{/project-geometry-edit/draw-lots-to-union}}

{{#map.source options=(mapbox-geojson-source model.developmentSite) as |source|}}
  {{source.layer
    layer=developmentSiteLayer
    before='boundary_country'
  }}
{{/map.source}}

{{yield}}
