{{#project-geometry-edit/draw-lots-to-union
  mode=mode
  map=map
  geometricProperty=model.projectArea as |selectedLots finalGeometry|
}}
  {{#ember-wormhole to='geometry-type-save-box'}}
    <button
      type="button"
      class="button large green expanded project-save-button"
      disabled={{if (eq mode 'draw') false (or (not selectedLots.features.length))}}
      onclick={{action 'save' model finalGeometry}}
    >
      Save Project Area
    </button>
  {{/ember-wormhole}}
{{/project-geometry-edit/draw-lots-to-union}}

{{#ember-wormhole to='geometry-type-draw-explainer'}}
  Explainer Text here
{{/ember-wormhole}}

{{!-- Ad-hoc source and layer for projectArea --}}
{{#if (and model.projectArea (not-eq geometryMode 'projectArea'))}}
  {{#map.source options=(mapbox-geojson-source model.projectArea) as |source|}}
    {{source.layer
      layer=projectAreaLayer
      before='boundary_country'
    }}
  {{/map.source}}
{{/if}}

{{yield}}
