<div class="cell">
  <div class="grid-x text-center">
    <div class="cell">
      <h3 class="separator-center">Add Maps to your project:</h3>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="cell medium-3">
      <div class="radius bordered shadow card">
        <img src="https://placehold.it/250x250">
        <div class="card-divider">
          Area
        </div>
      </div>
    </div>

    <div class="cell medium-3">
      <div class="radius bordered shadow card">
        <img src="https://placehold.it/250x250">
        <div class="card-divider">
          Tax
        </div>
      </div>
    </div>

    <div class="cell medium-3">
      <div class="radius bordered shadow card">
        <img src="https://placehold.it/250x250">
        <div class="card-divider">
          Zoning Change
        </div>
      </div>
    </div>

    <div class="cell medium-3">
      <div class="radius bordered shadow card">
        <img src="https://placehold.it/250x250">
        <div class="card-divider">
          Zoning Section
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
