// --------------------------------------------------
// Module: Legend
// --------------------------------------------------

.legend {
  padding-bottom: $global-margin;

  hr {
    margin: $global-margin 0;
  }
}
.legend-item {
  margin-bottom: rem-calc(4);
}

.legend-section + .legend-section {
  margin-top: $global-margin;
}

.legend-section-header {
  font-size: 12pt;
  margin-bottom: rem-calc(6);
}

.legend-item {
  font-size: 8pt;
  padding: 0;
}
