<h1>You've finished defining your changes.</h1>

<p class="lead">Next, go to your project dashboard, where you can print or download your project maps, and review or make further changes or additions to your geometries.</p>

<div class="grid-x grid-margin-x">
  <div class="cell medium-6 large-5 xlarge-4">
    <span data-test-go-to-dash class='button large expanded' onclick={{ action 'goToProjectDashboard' }}>
      Go to Project Dashboard
    </span>
  </div>
</div>
