  explainer content
  <p>First, let’s define your Development Site.</p>
  <p>The Development Site refers to the zoning lot(s) to be improved by the specific development(s) that the land use actions would facilitate.</p>
  <p>To create a Development Site, you can either:</p>
  <span class="button">Select Lots</span>
  <span class="button">Draw Manually</span>
