<h1>First, let’s define your Development&nbsp;Site.</h1>

<p>The Development site refers to the zoning lot(s) that you want to change using land use actions.</p>

<h2 class="header-medium">To create a Development Site, you can either:</h2>

<div class="grid-x grid-margin-x">
  <div class="cell medium-6 large-5 xlarge-4">
    {{#link-to 'projects.edit.geometry-edit' model.id (query-params mode='lots' type='development-site')
      tagName='span'
      class='button large expanded'
    }}
      {{fa-icon 'hand-pointer' fixedWidth=true transform='left-3 grow-3'}}
      Select Lots
    {{/link-to}}
    <p class="text-small text-center">Create a Development Site that is contiguous with chosen zoning lots</p>
  </div>
  <div class="cell medium-6 large-5 xlarge-4">
    {{#link-to 'projects.edit.geometry-edit' model.id (query-params mode='draw' type='development-site')
      tagName='span'
      class='button large expanded'
    }}
      {{fa-icon 'draw-polygon' fixedWidth=true transform='left-3 grow-3'}}
      Draw Manually
    {{/link-to}}
    <p class="text-small text-center">Use draw tools to create a Development Site that includes partial zoning lots</p>
  </div>
</div>
