{{!-- Contextual component so we can provide access to the mode context --}}
{{#component (concat 'project-geometries/modes/' mode)
  map=map
  geometricProperty=geometricProperty as |mode|
}}
  <div class="stable">
    {{#if hasBlock}}
      {{yield (hash
        mode=mode
        button=(component 'project-geometries/draw-lots-to-union/button'
          data-test-project-geometry-save=true))}}
    {{else}}
      {{project-geometries/draw-lots-to-union/button
        data-test-project-geometry-save=true
      }}
    {{/if}}
  </div>
{{/component}}
