{{#project-geometries/draw-lots-to-union
  mode=mode
  map=map
  geometricProperty=model.projectArea as |selection|
}}
  {{#selection.button
    handleClick=(action 'save')}}
    Save Project Area
  {{/selection.button}}
{{/project-geometries/draw-lots-to-union}}

{{#ember-wormhole to='geometry-type-draw-explainer'}}
  <h3 class="no-margin">Project Area</h3>
  <p class="text-small">The Project Area includes all properties subject to proposed actions, regardless of whether or not they will be developed. The Project Area should only be used if it is larger than the Development Site.</p>
  <ul class="text-small">
    {{#if (eq mode 'draw')}}
      <li> Select the polygon tool to begin drawing a new shape (you can draw multiple shapes)</li>
      <li> Complete a shape by clicking the final vertex a second time</li>
      <li> Edit a completed shape by selecting then dragging vertices</li>
      <li> Use the trash button (or delete key) to delete a selected shape or vertex</li>
      <li> Once you're finished drawing, save the geometry</li>
    {{else}}
      <li>Select tax lots to highlight them</li>
      <li>Selected lots will be yellow</li>
      <li>Once you're finished selecting lots, save the geometry</li>
    {{/if}}
  </ul>
{{/ember-wormhole}}

{{!-- Ad-hoc source and layer for projectArea --}}
{{#if (and model.projectArea (not-eq geometryMode 'projectArea'))}}
  {{#map.source options=(mapbox-geojson-source model.projectArea) as |source|}}
    {{source.layer
      layer=projectAreaLayer
      before='boundary_country'
    }}
  {{/map.source}}
{{/if}}

{{yield}}
