{{#if (not (is-empty model.underlyingZoning))}}
  {{#project-geometries/draw-lots-to-union
    mode=mode
    map=map
    geometricProperty=model.underlyingZoning as |selection|
  }}
    {{#selection.button
      handleClick=(action 'save')}}
      Save Zoning District
    {{/selection.button}}
  {{/project-geometries/draw-lots-to-union}}

  {{#ember-wormhole to='geometry-type-draw-explainer'}}
    <h3 class="no-margin">Rezoning: Underlying Zoning Districts</h3>
    <p class="text-small">A <a href='https://www1.nyc.gov/site/planning/zoning/districts-tools.page' target="_blank">Zoning District</a> is a residential, commercial or manufac­turing area of the city within which zoning regulations govern land use and building bulk. Zoning boundaries should be drawn to or extend to the centerline of streets. These boundaries are not dependent on lot lines and can sometimes intersect tax lots.</p>
    <ul class="text-small">
      <li> <strong>You can either edit an existing zoning boundary or draw a new zoning boundary using the draw tool</strong></li>
      <li> Select the polygon tool to begin drawing a new shape (you can draw multiple shapes)</li>
      <li> Complete a shape by clicking the final vertex a second time</li>
      <li> Edit an existing zoning boundary or a drawn shape by selecting and then dragging vertices</li>
      <li> Use the trash button (or delete key) to delete a selected shape or vertex</li>
      <li> Type in the zoning designation code for a new zoning boundary in the box</li>
      <li> Once you're finished, save the geometry</li>
    </ul>
  {{/ember-wormhole}}

  {{#map.source options=(mapbox-geojson-source model.underlyingZoning) as |source|}}
    {{source.layer
      layer=underlyingZoningLayer
      before='boundary_country'
    }}
    {{source.layer
      layer=underlyingZoningLabelsLayer
      before='boundary_country'
    }}
  {{/map.source}}
{{/if}}

{{#map.source options=(mapbox-geojson-source model.developmentSite) as |source|}}
  {{source.layer
    layer=developmentSiteLayer
    before='boundary_country'
  }}
{{/map.source}}
