{{#project-geometries/draw-lots-to-union
  mode=mode
  map=map
  geometricProperty=model.specialPurposeDistricts as |selection|
}}
  {{selection.mode.feature-label-form}}

  {{#ember-wormhole to='geometry-type-draw-explainer'}}
    <div class="text-small">
      <h1 class="header-large small-margin-bottom">Rezoning: <span class="text-weight-normal"><br>Special Purpose Districts</span></h1>
      <p><a href="https://www1.nyc.gov/site/planning/zoning/districts-tools/special-purpose-districts.page" target="_blank">Special Purpose Districts</a> supplement and modify the underlying zoning in distinctive neighborhoods with particular issues and goals.</p>

      <hr />
      <p>Special Purpose Districts usually extend to the <strong>street centerline</strong>. They're not dependent on lot lines and can sometimes intersect tax lots.</p>
      <div>
        <img src="/img/gif-special-purpose.gif" alt="Draw Special Purpose Districts" class="shadowed" />
      </div>

      <hr />

      {{#selection.button
        enabled=model.hasDirtyAttributes
        handleClick=(action 'save')}}
        Save
        <small style="display:block;line-height:1.75;">Special Purpose Districts</small>
      {{/selection.button}}
    </div>
  {{/ember-wormhole}}
{{/project-geometries/draw-lots-to-union}}

{{#map.source
  options=(mapbox-geojson-source model.specialPurposeDistricts) as |source|}}
  {{source.layer
    layer=proposedSpecialPurposeDistrictsLayer
    before='boundary_country'
  }}
  {{source.layer
    layer=proposedSpecialPurposeDistrictsLabelsLayer
    before='boundary_country'
  }}
{{/map.source}}

{{#map.source
  options=(mapbox-geojson-source model.developmentSite) as |source|}}
  {{source.layer
    layer=developmentSiteLayer
    before='boundary_country'
  }}
{{/map.source}}
