{{#ember-wormhole to="map-top-right"}}
  <button
    class="reset-canonical-button button small gray"
    {{action 'resetCanonical'}}
  >
    Reset 
    {{#ember-tooltip side='right' tooltipClassName="ember-tooltip draw-tooltip" popperContainer='body'}}
      <p class="no-margin">This button will undo all your edits and revert back to the original zoning boundaries for this area.</p>
    {{/ember-tooltip}}
  </button>
{{/ember-wormhole}}
