{{#labs-ui/site-header
  responsiveNav=true
  as |banner|
}}
  {{#banner.title}}
    {{#link-to 'application' classNames='site-title'}}Applicant Maps <small class="site-subtitle show-for-medium"></small>{{/link-to}}
  {{/banner.title}}
  {{#banner.nav}}
    {{#zf-dropdown-menu class="vertical large-horizontal"}}
      <li>{{link-to 'About' 'index'}}</li>
      <li>
        <a href="#">My Projects</a>
        <ul class="menu">
          <li><a href="#">Foo</a></li>
          <li><a href="#">Bar</a></li>
          <li><a href="#">Baz</a></li>
          <li><a href="#">Bax</a></li>
          <li><a href="#">Qux</a></li>
        </ul>
      </li>
    {{/zf-dropdown-menu}}
  {{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main grid-x route-{{currentRouteName}}">
  {{outlet}}
</div>

{{notification-container position="bottom-right"}}
