{{#labs-ui/site-header
  responsiveNav=false
  as |banner|
}}
  {{#banner.title}}
    {{#link-to 'application' classNames='site-title'}}Applicant Maps <small class="site-subtitle show-for-medium"></small>{{/link-to}}
  {{/banner.title}}
{{/labs-ui/site-header}}

<div class="site-main grid-x route-{{currentRouteName}}">
  {{outlet}}
</div>

{{notification-container position="bottom-right"}}
