<div class="paper letter landscape">
  {{#labs-map
      id='main-map'
      initOptions=(hash
        zoom=15.479951257235973
        center=(array -73.96532400540775 40.709710016659386)
        bearing=20.97777777785973
        transformRequest=transformRequest
      )
      model=model
      mapLoaded=(action 'handleMapLoad') as | map |}}
      {{map.labs-layers model=model}}

  {{/labs-map}}
</div>

{{outlet}}
