<div class="paper letter landscape">
  {{mapbox-gl
      id='main-map'
      initOptions=(hash
        zoom=15.479951257235973
        center=(array -73.96532400540775 40.709710016659386)
        bearing=20.97777777785973
      )
      mapLoaded=(action 'handleMapLoad')}}
</div>

{{outlet}}
