<div class="cell">
  <br/>
  <br/>
  <h1 class="separator-center">Welcome.</h1>
  <br/>
  <div class="text-center">
    {{link-to 'Create New Project' 'projects.new' tagName='button' type='button' class='success button'}}
  </div>
</div>

{{outlet}}
