<div class="cell route-{{currentRouteName}}">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell auto">
      <h3>Easily prepare valid maps for Land Use and Environmental Applications</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="cell auto">

      <h3 class="subheader">
        STEP ONE:
      </h3>

      Create a new project
      {{link-to 'Get Started' 'projects.new' tagName='button' type='button' class='success button'}}

      <h3 class="subheader">
        STEP TWO:
      </h3>
      Add maps

      <h3 class="subheader">
        STEP THREE:
      </h3>

      <p>Print each of your maps to paper or save to PDF</p>

      <p>Share your projects and maps with unique URLs</p>

    </div>
  </div>
</div>

{{outlet}}
